*{
    margin: 0;
    padding: 0;
}
body, html{
    width: 100%;
    height: 100%;
    font-family: Arial, Tahoma, sans-serif;
}
#fundo-externo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
#fundo {
    position: fixed;
    width: 100%;
    height: 100%;
}
#fundo img {
    width: 100%;
    position: absolute;
}
#site {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 560px;
    padding: 20px;
    margin-left: -300px;
    background: #FFF;
    background: rgba(255, 255, 255, 0);
    
}
p {
    margin-bottom: 1.5em;
}
#menu {
    position: absolute;
    top: 40px;
    left: 14%;
    width: 20px;
    padding: 0px;
    margin-left: -300px;
    background: #FFF;
    background: rgba(255, 255, 255, 0.007);
    
}