{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Trade esportivo</title>
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
        <link rel="sortcut icon" href="{% static 'bet-network.ico' %}" type="image/ico" />
    </head>
    <body>
        <div id="fundo-externo">
            <div id='fundo'>
                <img src="{% static 'fundo.jpg' %}"/> 
            </div>
        </div>
        <div id="site">
            <p>
                {% block content %}
                {% endblock %}
            </p>
        </div>
        <div id="menu">
            <p>
                {% block menu %}
                {% endblock %}
            </p>
        </div>
        
    </body>
</html>