{% extends 'base.html' %}
{% block content %}
<table class="table is-fullwidth is-striped is-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Logo</th>
            <th>Nome</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
            {% for r in droplets %}
            <tr>
                <td>{{ r.league.id }}</td>
                <td>{{ r.league.country }}</td>
                <td>{{ r.league.name }}</td>
                <td>{{ r.league.season }}</td>
            </tr>
            {% endfor %}
    </tbody>
{% endblock %}
{% block menu %}
    <h1>
        Menu
    </h1>
{% endblock %}